<nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
    <div class="container container-fluid">
        <!-- Logo / Brand --><a href="/"
            class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"><img
                src="/assets/image/logo.png" alt="logo" width="30px"><span class="fs-4">Infosysbank</span></a>

        <!-- Hamburger Menu (visible on small screens) -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar Links -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="nav nav-pills">
                <li class="nav-item"></li>
                <li class="nav-item"><a href="#" class="nav-link">Credit Card</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Home Loan Calculator</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Student Credit Card</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Business Credit Card</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Finance Dictionary</a></li>
                </li>
            </ul>
        </div>
    </div>
</nav>